@use '../../../styles/mixin' as *;
@use '../../../styles/variables' as *;

.hero {
    width: 100%;
    @include flex-column;

    .heroMain {
        width: 100%;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        border: 1px solid $dark-15;

        .heroContent {
            padding-top: 6rem;
            border-right: 1px solid $dark-15;

            .contentText {
                @include flex-column;
                gap: 2rem;
                padding-left: clamp(4rem, 12vw, 21.5rem);

                .eyebrow {
                    font-family: $kumbh;
                    font-weight: $fw-medium;
                    font-size: $fs-32;
                    color: $dark-40;
                }

                .title {
                    max-width: 80rem;
                    font-family: $kumbh;
                    font-weight: $fw-medium;
                    font-size: $fs-64;
                    line-height: 1.2;
                    color: $white;
                }

                .description {
                    max-width: 65rem;
                    font-weight: $fw-regular;
                    font-size: $fs-18;
                    color: $grey-50;
                }
            }

            .contentStatistic {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                margin-top: 6rem;
                border: 1px solid $dark-15;

                .stat {
                    @include flex-column;
                    gap: 0.8rem;
                    padding: 2.8rem 4rem;

                    &:first-child {
                        padding-left: clamp(4rem, 12vw, 21.5rem);
                    }

                    &:not(:last-child) {
                        border-right: 1px solid $dark-15;
                    }

                    strong {
                        font-size: $fs-40;
                        font-weight: $fw-semibold;
                        color: $yellow-55;

                        span {
                            color: $white;
                        }
                    }

                    > span {
                        font-size: $fs-18;
                        font-weight: $fw-regular;
                        color: $grey-60;
                    }
                }
            }
        }

        .heroResources {
            background-image: url(/src/assets/bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 4rem;
            gap: 2rem;

            .avatars {
                width: fit-content;
                display: flex;
                align-items: center;
                padding: 0.5rem;
                background: $dark-10;
                border: 1px solid $dark-15;
                border-radius: 100px;

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;

                    &:not(:first-child) {
                        margin-left: -10px;
                    }
                }
            }

            .resoursesText {
                @include flex-column;
                gap: 1rem;

                .resourcesTitle {
                    font-size: $fs-24;
                    font-weight: $fw-medium;
                    color: $white;
                }

                .resourcesDescription {
                    font-size: $fs-18;
                    font-weight: $fw-regular;
                    color: $grey-50;
                }
            }

            .resourcesButton {
                display: flex;
                align-items: center;
                gap: 1rem;
                width: fit-content;
                min-width: 120px;
                padding: 1.5rem;
                border-radius: 1.2rem;
                border: 1px solid $dark-15;
                background: $dark-08;

                font-size: $fs-18;
                font-weight: $fw-regular;
                color: $grey-60;

                transition: border-color 0.3s ease;

                &:hover {
                    border-color: $yellow-55;
                }
            }
        }
    }

    .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .feature {
            padding: 6rem;
            @include flex-column;
            gap: 2rem;

            > img {
                width: 50px;
                height: 50px;
            }

            &:not(:last-child) {
                border-right: 1px solid $dark-15;
            }

            .featureContent {
                @include flex-center-between;

                .featureText {
                    @include flex-column;
                    gap: 0.5rem;

                    h3 {
                        font-size: $fs-20;
                        font-weight: $fw-medium;
                        color: $white;
                    }

                    p {
                        font-size: $fs-18;
                        font-weight: $fw-regular;
                        color: $grey-50;
                    }
                }

                .featureButton {
                    width: 52px;
                    height: 52px;
                    border-radius: 100%;
                    background: $yellow-55;
                    padding: 0.5rem;
                    @include flex-center;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            > p {
                font-family: $kumbh;
                font-size: $fs-20;
                font-weight: $fw-regular;
                color: $grey-60;
            }
        }
    }
}
