@use '../../../styles/mixin' as *;
@use '../../../styles/variables' as *;

.similiar {
    width: 100%;
    padding: 60px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 100%;
        max-width: $max-width;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                font-family: $kumbh;
                font-size: $fs-26;
                font-weight: $fw-medium;
                color: $grey-80;
            }

            .link {
                padding: 1rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                background: $dark-08;
                border: 1px solid $dark-15;
                border-radius: 12px;
                font-size: $fs-18;
                font-weight: $fw-regular;
                color: $grey-60;
            }
        }

        .bottomGlobal {
            width: 100%;
            height: 50vh;
            @include flex-center-between;

            .imageBottom {
                width: 512px;
                height: 222px;
            }

            .textBottom {
                padding: 15px 0px;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .subtitle {
                    font-size: $fs-20;
                    font-family: $fw-semibold;
                    color: $white;
                }

                .category {
                    font-size: $fs-20;
                    font-weight: $fw-regular;
                    color: $grey-60;
                }
            }

            .statsBlock {
                @include flex-center-between;

                .stats {
                    display: flex;
                    gap: 2rem;

                    .statItem {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;
                        cursor: pointer;
                        padding: 10px 20px;
                        border-radius: 100px;
                        border: 1px solid $dark-15;
                        background: $dark-10;
                    }
                }

                .btnReadMore {
                    @include flex-center;
                    gap: 1rem;
                    width: 277px;
                    height: 63px;
                    border-radius: 12px;
                    border: 1px solid $dark-15;
                    background: $dark-08;
                    color: $grey-60;
                    cursor: pointer;
                }
            }
        }
    }
}
