@use '../../../styles/mixin' as *;
@use '../../../styles/variables' as *;

.reviews {
    width: 100%;

    .header {
        width: 100%;
        background: $dark-10;
        border: 1px solid $dark-15;
        padding: 6rem 0px;
        .innerHeader {
            width: 100%;
            max-width: $max-width;
            margin: 0 auto;
            @include flex-center-between;

            .headerText {
                @include flex-column;
                gap: 1rem;

                .badge {
                    width: fit-content;
                    border-radius: 0.4rem;
                    background: $dark-20;
                    padding: 1rem;
                }

                .title {
                    font-family: $kumbh;
                    font-weight: $fw-medium;
                    font-size: $fs-58;
                }
            }

            .viewAllBtn {
                @include flex-center;
                gap: 1rem;
                min-width: 100px;
                padding: 1rem;
                background: $dark-08;
                border-radius: 1.2rem;
                border: 1px solid $dark-15;
                color: $grey-60;
                font-weight: $fw-regular;
                font-size: $fs-18;
            }
        }
    }

    .container {
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .card {
                padding: 6rem;
                border: 1px solid $dark-15;
                @include flex-column;
                align-items: center;
                position: relative;

                .author {
                    @include flex-center;
                    gap: 1rem;
                    margin-bottom: 4rem;

                    img {
                        width: 60px;
                        height: 60px;
                        flex-shrink: 0;
                    }

                    .authorInfo {
                        @include flex-column;
                        gap: 0.5rem;
                        .name {
                            font-weight: $fw-medium;
                            font-size: $fs-20;
                            color: $white;
                        }

                        .location {
                            color: $dark-40;
                            font-weight: $fw-regular;
                            font-size: $fs-18;
                        }
                    }
                }

                .rating {
                    position: absolute;
                    top: 14rem;
                    z-index: 1;
                    border-radius: 100px;
                    background: $dark-08;
                    border: 1px solid $dark-15;
                    padding: 0.5rem 1rem;

                    span {
                        font-size: $fs-24;
                        color: $yellow-55;
                    }
                }

                > p {
                    z-index: 0;
                    max-width: 80%;
                    padding: 4rem;
                    text-align: center;
                    font-size: $fs-18;
                    font-weight: $fw-regular;
                    color: $white;
                    line-height: 1.5;
                    border-radius: 1.2rem;
                    background: $dark-10;
                    border: 1px solid $dark-15;
                }
            }
        }
    }
}
